################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/16CTT3-Group-01.VC.db
