################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.opendb
*.db
/.vs/16CTT3-Group-01/v15
/Debug
/Release
/RoadCrossing/Debug
/RoadCrossing/Release
/x64/Debug
/RoadCrossing/x64/Debug
